
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;  
    
}
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000000;
    color: white;
    padding: 8px;
    z-index: 100;
  }
  
  .skip-link:focus {
    top: 0;
  }



.navigation{
    position: fixed;
    top:0;
    width:100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
}

.btn-toggle-nav {
    width: 76px;
    height: 100%;
    background-color: #ffffff;
    background-image: url('../Images/viber_image_2021-04-23_14-16-05.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    cursor: pointer;
}

.btn-toggle-nav:hover {
   opacity: 0.5;
}


.menu-btn {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50px;
    height: calc(94vh - 41px);
    padding: 0 5px;
    background-color:#212432;;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.menu-btn ul {
    padding-top: 15px;
    overflow: hidden;
    visibility: hidden;
}

.menu-btn ul li {
    line-height: 60px;
    list-style: none;
}

 .menu-btn ul li a {
    display: block;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: arial;
    font-size: 16px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

 .menu-btn ul li a:hover{
   background-color: #2ED2CF;

}


.navigation{
    background-color: #ffff;
    height:80px;
    width:100%;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
    top: 0;
   
}
label.fit{
    color: black;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    width: 100px;
    height: 38px;
    left: 235px;
    top: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}
.Logo{
    position:fixed;
    width: 115px;
    height: 82px;
    left: 99px;
    top: -3px;
    background-image: url(../Images/man-woman-fitness-silhouette-character-260nw-220016503.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 100px;

}

#search{
    width: 357px;
    padding: 5px;
    border: none;
    font-size: 18px;
    text-align: center;
    margin: 15px;
    background: #ffff;
    position: fixed;
    left:510px;
    top:7px;
    border: 1px solid #000000;
    box-sizing: border-box; 

}


input [type=text]{
    width:90%;
    padding:12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 1px solid #000;
    border-right:0;
    border-radius:5px 0 0 5px;

}

input [type=submit]{
    position: absolute;
    padding:12px;
    width:8%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-shadow: 0 0 1px #000;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border-right: 0;
    background: linear-gradient(#2ED2CF,#000);
    border:1px solid #000;
    /* background: url(../Images/search-solid.svg); */

}

input[type=submit]:hover{
    background: linear-gradient(#fff);

}

input[type=text]:focus,input[type=submit]:focus{
    outline:none;
}

.searchrec{
    width: 53px;
    height: 31px;
    background: rgba(46,210,207,1);
    opacity: 1;
    position: absolute;
    top: 23px;
    left: 829px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
}

.searchrec #btn{
    width: 53px;
    height: 31px;
    background: rgba(46,210,207,1);
}




.container1{
    height: 123%;
    overflow: hidden;
}


.slider{
    max-width:700px;
    border:10px solid white;
    margin: 50px auto;
    left:133px;
    position:absolute;
    
    /* height:500px;
    border-radius: 10px;
    overflow: hidden;
 */
 }

 .slider .left-slide,.slider .right-slide {
   position: absolute;
   height: 40px;
   width:40px;
   background-color:#212432;
   border-radius: 50%;
   color: #fff;
   font-size: 20px;
   top:50%;
   cursor: pointer;
   margin-top: -20px;
   text-align: center;
   line-height: 40px;
   transition: all .5s ease;
 }
 .slider .left-slide:hover,.slider .right-slide:hover{
   
     box-shadow: 0px 0px 10px #212432;
     background-color: #2ED2CF; 

 }

 .slider .left-slide{
     left:30px;

 }
 .slider .right-slide{
    right:-559px;
    
     
 }

 .slider .slide .item img{
     /* max-width:100%; */
     display:block;
     animation: zoom 1s ease;

 }

 @keyframes zoom{
     0%{transform:scale(2); opacity: 0}
     50%{transform: scale(2);}
     100%{transfrom:scale(1);opacity: 1}
     
 }

 .slider .slide .item{
     display:none;
     position: relative;
 }

 .slider .slide .item.active{
     display: block;
 }

 






/* .top{
    width: 100%;
    height: 991px;
    background: url(../Images/pexels-pixabay-416778.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;

} */


.s1 {
    padding:5px;
    background:#212432;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    position:absolute;
    left:397px;
    top:1499px;
}

.s2 {
    padding:5px;
    background:#212432;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    position:absolute;
    left:900px;
    top:1499px;
}

.s3 {
    padding:5px;
    background:#212432;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    position:absolute;
    left:1400px;
    top:1499px;
}

.s4 {
    padding:5px;
    background:#212432;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    position:absolute;
    left:397px;
    top:2166px;
}

.s5 {
    padding:5px;
    background:#212432;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    position:absolute;
    left:900px;
    top:2166px;
}

.s6 {
    padding:5px;
    background:#212432;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    position:absolute;
    left:1400px;
    top:2166px;
}

.s7 {
    padding:5px;
    background:#212432;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    position:absolute;
    left:397px;
    top:2822px;
}

.s8 {
    padding:5px;
    background:#212432;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    position:absolute;
    left:900px;
    top:2822px;
}

.s9{
    padding:5px;
    background:#212432;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    position:absolute;
    left:1400px;
    top:2822px;
}


 .b1{
    width: 430px;
    height: 612px;
    background: rgba(46,210,207,1);
    opacity: 1;
    position: absolute;
    top: 941px;
    left: 64px;
    overflow: hidden;

}

.store1{
    width: 431px;
    height: 547px;
    background: url(../Images/pexels-andrea-piacquadio-3764555.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 941px;
    left: 63px;
    overflow: hidden;

}


.b2{
    width: 430px;
    height: 612px;
    background: rgba(46,210,207,1);
    opacity: 1;
    position: absolute;
    top: 941px;
    left: 573px;
    overflow: hidden;

}

.store2{
    width: 430px;
    height: 547px;
    background: url(../Images/pexels-oliver-sjöström-1103830.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 941px;
    left: 573px;
    overflow: hidden;

}
.b3{
    width: 430px;
    height: 612px;
    background: rgba(46,210,207,1);
    opacity: 1;
    position: absolute;
    top: 941px;
    left: 1072px;
    overflow: hidden;

}

.store3{
    width: 430px;
    height: 547px;
    background: url(../Images/pexels-godisable-jacob-1055280.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 941px;
    left: 1072px;
    overflow: hidden;

}

.conatiner3{
    
    width:95%;
    overflow : hidden;
    
    margin: 43px 63px;
    padding:12px 28px;
    
}
.b4{
    width: 430px;
    height: 612px;
    background: rgba(46,210,207,1);
    opacity: 1;
    position: absolute;
    top: 1608px;
    left: 64px;
    overflow: hidden;

}

.store4{
    width: 431px;
    height: 547px;
    background: url(../Images/p1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1608px;
    left: 63px;
    overflow: hidden;

}
.b5{
    
    width: 430px;
    height: 612px;
    background: rgba(46,210,207,1);
    opacity: 1;
    position: absolute;
    top: 1608px;
    left: 573px;
    overflow: hidden;

}

.store5{
    width: 430px;
    height: 547px;
    background: url(../Images/s1.5.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1608px;
    left: 573px;
    overflow: hidden;

}
.b6{
    
    width: 430px;
    height: 612px;
    background: rgba(46,210,207,1);
    opacity: 1;
    position: absolute;
    top: 1608px;
    left: 1072px;
    overflow: hidden;


}

.store6{
    width: 430px;
    height: 547px;
    background: url(../Images/p3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1608px;
    left: 1072px;
    overflow: hidden;


}

.container4{
   
        width:95%;
        overflow : hidden;
    
        margin: 43px 63px;
        padding:12px 28px;
    

}

.b7{
    width: 430px;
    height: 612px;
    background: rgba(46,210,207,1);
    opacity: 1;
    position: absolute;
    top: 2265px;
    left: 64px;
    overflow: hidden;

}

.store7{
    width: 431px;
    height: 547px;
    background: url(../Images/p5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2265px;
    left: 63px;
    overflow: hidden;

}
.b8{
    width: 430px;
    height: 612px;
    background: rgba(46,210,207,1);
    opacity: 1;
    position: absolute;
    top: 2265px;
    left: 573px;
    overflow: hidden;

}

.store8{
    width: 430px;
    height: 547px;
    background: url(../Images/p6.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2265px;
    left: 573px;
    overflow: hidden;

}
.b9{
    width: 430px;
    height: 612px;
    background: rgba(46,210,207,1);
    opacity: 1;
    position: absolute;
    top: 2265px;
    left: 1072px;
    overflow: hidden;

}

.store9{
    width: 430px;
    height: 547px;
    background: url(../Images/p7.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2265px;
    left: 1072px;
    overflow: hidden;

} 

.p1{
    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 1499px;
    left: 256px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;

}

.title1{
    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 1499px;
    left: 86px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;

}

.p2{
    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 1496px;
    left: 771px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;

}
.title2{
    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 1496px;
    left: 594px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;


}

.p3{
    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 1496px;
    left: 1309px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;

}
.title3{
    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 1496px;
    left: 1091px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;

}

.p4{
    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 2166px;
    left: 256px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;

    

}
.title4{
    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 2166px;
    left: 86px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;


}

.p5{
    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 2166px;
    left: 809px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;

}
.title5{
    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 2166px;
    left: 594px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;


}

.p6{
    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 2166px;
    left: 1348px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;

}
.title6{
    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 2166px;
    left: 1091px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;

}

.p7{

    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 2822px;
    left: 256px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;

}
.title7{
    
    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 2822px;
    left: 86px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;

}
.p8{
    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 2822px;
    left: 824px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;

}
.title8{
    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 2822px;
    left: 594px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;


}

.p9{
    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 2822px;
    left: 1309px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;

} 
.title9{
    width: 253px;
    color: rgba(75,62,62,1);
    position: absolute;
    top: 2822px;
    left: 1091px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;


}

.container{
    position: absolute;
    top: 2893px;
    left: 150px;
    width: 85%;
    height: 112vh;
}


.section-header {
    font-family: "Roboto Condensed";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
    position: relative;
    margin-left: 9%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    width: 17%;
    height: 30px;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    margin-top: 0px;
}

.btn-purchase:hover {
    background-color: #C4C4C4;
}
.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}
.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color:#000;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}




.side{
    width: 412px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 44px;
    left: 55px;
    font-family: Roboto;
    font-size: 24px;
    opacity: 1;
    text-align: left
}



.middle{
    width: 201px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 34px;
    left: 715px;
    font-family: Roboto;
    font-size: 35px;
    opacity: 1;
    text-align: left;
}

.copyright{
    width:21px;
    height:20px;
    position: absolute;
    border:none;
    outline: none;
    background :white url(../Images/copyright-regular.svg);
    background-size: 21px;
    top:42px;
    left:692px;
    box-shadow: none;
    cursor: pointer;
    border-radius: 20px;
}
 .Facebook{
    width:23px;
    height:25px;
    position: absolute;
    border:none;
    outline: none;
    background :white url(../Images/facebook-f-brands.svg);
    background-size: 21px;
    top:40px;
    left:1026px;
    box-shadow: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.8sec;

}

.Instagram{
    width:22px;
    height:25px;
    position: absolute;
    border:none;
    outline: none;
    background :white url(../Images/instagram-brands.svg);
    background-size: 21px;
    top:40px;
    left:1054px;
    box-shadow: none;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.8sec;

}

.Twitter{
    width:21px;
    height:22px;
    position: absolute;
    border:none;
    outline: none;
    background :white url(../Images/twitter-brands.svg);
    background-size: 21px;
    top:41px;
    left:1081px;
    box-shadow: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.8sec;

} 

.nextside{
    width: 339px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 44px;
    left: 1244px;
    font-family: Roboto;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.footer{
    position: absolute;
    width: 100%;
    height: 97px;
    left: 0px;
    top: 3658px;
    overflow: hidden;
    opacity: 1;
    background: #212432; 
        
    
    }

